.choresText {
   color: red;
   font-size: larger;
   font-style: italic;
   font-family:cursive;
   text-align: left;
   
}

.choresHeading {
   color: rgb(121, 9, 9);
   text-decoration: underline;
   text-align: left;
}